## 103590450 四資四 馬茂源

In [1]:
from pyspark import SparkConf, SparkContext, SQLContext
import pyspark
import os
import pandas as pd

In [2]:
conf = (SparkConf()
        .setMaster("spark://Brians-MacBook-Pro.local:7077")
        #.setMaster("local")
        .setAppName("hw1")
        .set('spark.executor.memory', '4g'))

In [3]:
sc = SparkContext(conf=conf)

In [4]:
sql_sc = SQLContext(sc)

In [5]:
data = pd.read_csv('./household_power_consumption.csv', 
                   delimiter=';', 
                   dtype={'Date':str,
                          'Time':str,
                          'Global_active_power':str,
                          'Global_reactive_power':str,
                          'Voltage':str,
                          'Global_intensity':str,
                          'Sub_metering_1':str,
                          'Sub_metering_2':str,
                          'sub_metering_3':str,})
data

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
0,16/12/2006,17:24:00,4.216,0.418,234.840,18.400,0.000,1.000,17.0
1,16/12/2006,17:25:00,5.360,0.436,233.630,23.000,0.000,1.000,16.0
2,16/12/2006,17:26:00,5.374,0.498,233.290,23.000,0.000,2.000,17.0
3,16/12/2006,17:27:00,5.388,0.502,233.740,23.000,0.000,1.000,17.0
4,16/12/2006,17:28:00,3.666,0.528,235.680,15.800,0.000,1.000,17.0
5,16/12/2006,17:29:00,3.520,0.522,235.020,15.000,0.000,2.000,17.0
6,16/12/2006,17:30:00,3.702,0.520,235.090,15.800,0.000,1.000,17.0
7,16/12/2006,17:31:00,3.700,0.520,235.220,15.800,0.000,1.000,17.0
8,16/12/2006,17:32:00,3.668,0.510,233.990,15.800,0.000,1.000,17.0
9,16/12/2006,17:33:00,3.662,0.510,233.860,15.800,0.000,2.000,16.0
10,16/12/2006,17:34:00,4.448,0.498,232.860,19.600,0.000,1.000,17.0
11,16/12/2006,17:35:00,5.412,0.470,232.780,23.200,0.000,1.000,17.0
12,16/12/2006,17:36:00,5.224,0.478,232.990,22.400,0.000,1.000,16.0
13,16/12/2006,17:37:00,5.268,0.398,232.910,22.600,0.000,2.000,17.0
14,16/12/2006,17:38:00,4.054,0.422,235.240,17.600,0.000,1.000,17.0
15,16/12/2006,17:39:00,3.384,0.282,237.140,14.200,0.000,0.000,17.0
16,16/12/2006,17:40:00,3.270,0.152,236.730,13.800,0.000,0.000,17.0
17,16/12/2006,17:41:00,3.430,0.156,237.060,14.400,0.000,0.000,17.0
18,16/12/2006,17:42:00,3.266,0.000,237.130,13.800,0.000,0.000,18.0
19,16/12/2006,17:43:00,3.728,0.000,235.840,16.400,0.000,0.000,17.0
20,16/12/2006,17:44:00,5.894,0.000,232.690,25.400,0.000,0.000,16.0
21,16/12/2006,17:45:00,7.706,0.000,230.980,33.200,0.000,0.000,17.0
22,16/12/2006,17:46:00,7.026,0.000,232.210,30.600,0.000,0.000,16.0
23,16/12/2006,17:47:00,5.174,0.000,234.190,22.000,0.000,0.000,17.0
24,16/12/2006,17:48:00,4.474,0.000,234.960,19.400,0.000,0.000,17.0
25,16/12/2006,17:49:00,3.248,0.000,236.660,13.600,0.000,0.000,17.0
26,16/12/2006,17:50:00,3.236,0.000,235.840,13.600,0.000,0.000,17.0
27,16/12/2006,17:51:00,3.228,0.000,235.600,13.600,0.000,0.000,17.0
28,16/12/2006,17:52:00,3.258,0.000,235.490,13.800,0.000,0.000,17.0
29,16/12/2006,17:53:00,3.178,0.000,235.280,13.400,0.000,0.000,17.0
...,...,...,...,...,...,...,...,...,...
2075229,26/11/2010,20:33:00,0.978,0.000,240.280,4.000,0.000,1.000,0.0
2075230,26/11/2010,20:34:00,0.968,0.000,237.570,4.000,0.000,1.000,0.0
2075231,26/11/2010,20:35:00,0.960,0.000,238.010,4.000,0.000,1.000,0.0
2075232,26/11/2010,20:36:00,0.964,0.000,238.070,4.000,0.000,1.000,0.0
2075233,26/11/2010,20:37:00,0.980,0.000,237.900,4.200,0.000,1.000,0.0
2075234,26/11/2010,20:38:00,0.976,0.096,236.970,4.000,0.000,2.000,0.0
2075235,26/11/2010,20:39:00,0.984,0.100,238.160,4.200,0.000,1.000,0.0
2075236,26/11/2010,20:40:00,0.986,0.102,238.920,4.200,0.000,1.000,0.0
2075237,26/11/2010,20:41:00,0.990,0.106,239.570,4.200,0.000,1.000,0.0
2075238,26/11/2010,20:42:00,0.988,0.106,239.600,4.200,0.000,1.000,0.0
2075239,26/11/2010,20:43:00,0.988,0.106,239.640,4.200,0.000,1.000,0.0
2075240,26/11/2010,20:44:00,0.982,0.102,238.690,4.000,0.000,1.000,0.0
2075241,26/11/2010,20:45:00,0.972,0.092,238.320,4.000,0.000,2.000,0.0
2075242,26/11/2010,20:46:00,0.908,0.000,238.530,3.800,0.000,1.000,0.0
2075243,26/11/2010,20:47:00,0.910,0.000,238.710,3.800,0.000,1.000,0.0
2075244,26/11/2010,20:48:00,0.912,0.000,239.250,3.800,0.000,1.000,0.0
2075245,26/11/2010,20:49:00,0.948,0.000,238.160,4.000,0.000,1.000,0.0
2075246,26/11/2010,20:50:00,1.198,0.128,238.110,5.000,0.000,1.000,0.0
2075247,26/11/2010,20:51:00,1.024,0.106,238.840,4.200,0.000,1.000,0.0
2075248,26/11/2010,20:52:00,0.946,0.000,239.050,4.000,0.000,0.000,0.0
2075249,26/11/2010,20:53:00,0.944,0.000,238.720,4.000,0.000,0.000,0.0
2075250,26/11/2010,20:54:00,0.946,0.000,239.310,4.000,0.000,0.000,0.0
2075251,26/11/2010,20:55:00,0.946,0.000,239.740,4.000,0.000,0.000,0.0
2075252,26/11/2010,20:56:00,0.942,0.000,239.410,4.000,0.000,0.000,0.0
2075253,26/11/2010,20:57:00,0.946,0.000,240.330,4.000,0.000,0.000,0.0
2075254,26/11/2010,20:58:00,0.946,0.000,240.430,4.000,0.000,0.000,0.0
2075255,26/11/2010,20:59:00,0.944,0.000,240.000,4.000,0.000,0.000,0.0
2075256,26/11/2010,21:00:00,0.938,0.000,239.820,3.800,0.000,0.000,0.0
2075257,26/11/2010,21:01:00,0.934,0.000,239.700,3.800,0.000,0.000,0.0
2075258,26/11/2010,21:02:00,0.932,0.000,239.550,3.800,0.000,0.000,0.0

In [6]:
data = sql_sc.createDataFrame(data)

In [7]:
# data = sql_sc.read.load(SparkFiles.get('household_power_consumption.csv'), 
#                         format='com.databricks.spark.csv', 
#                         header='true', 
#                         delimiter = ';',
#                         inferSchema='true')
# data = (sql_sc.read.format("com.databricks.spark.csv")
#         .option("header", "true")
#         .option("inferschema", "true")
#         .option("mode", "DROPMALFORMED")
#         .option('delimiter', ';')
#         .load(SparkFiles.get('household_power_consumption.csv')))

In [8]:
data.count()

2075259

In [9]:
data.dtypes

[('Date', 'string'),
 ('Time', 'string'),
 ('Global_active_power', 'string'),
 ('Global_reactive_power', 'string'),
 ('Voltage', 'string'),
 ('Global_intensity', 'string'),
 ('Sub_metering_1', 'string'),
 ('Sub_metering_2', 'string'),
 ('Sub_metering_3', 'double')]

In [10]:
data = (data.withColumn('Date', data.Date.cast('date'))
        .withColumn('Time', data.Time.cast('timestamp'))
        .withColumn('Global_active_power', data.Global_active_power.cast('float'))
        .withColumn('Global_reactive_power', data.Global_reactive_power.cast('float'))
        .withColumn('Voltage', data.Voltage.cast('float'))
        .withColumn('Global_intensity', data.Global_intensity.cast('float'))
        .withColumn('Sub_metering_1', data.Sub_metering_1.cast('float'))
        .withColumn('Sub_metering_2', data.Sub_metering_2.cast('float'))
        .withColumn('Sub_metering_3', data.Sub_metering_3.cast('float')))
data.dtypes

[('Date', 'date'),
 ('Time', 'timestamp'),
 ('Global_active_power', 'float'),
 ('Global_reactive_power', 'float'),
 ('Voltage', 'float'),
 ('Global_intensity', 'float'),
 ('Sub_metering_1', 'float'),
 ('Sub_metering_2', 'float'),
 ('Sub_metering_3', 'float')]

In [11]:
data = data.drop('Date', 'Time', 'Sub_metering_1', 
        'Sub_metering_2', 
        'Sub_metering_3')

1. Output the **minimum**, **maximum**, and **count** of the columns:`Global_active_power`, `Global_reactive_power`, `Voltage`, and `Global_intensity`
2. Output the **mean** and **standard deviation** of these columns

In [12]:
features = ['Global_active_power', 'Global_reactive_power', 'Voltage', 'Global_intensity']

In [13]:
summary = data.select(features).describe()
summary.show()

+-------+-------------------+---------------------+------------------+-----------------+
|summary|Global_active_power|Global_reactive_power|           Voltage| Global_intensity|
+-------+-------------------+---------------------+------------------+-----------------+
|  count|            2049280|              2049280|           2049280|          2049280|
|   mean| 1.0916150366540094|   0.1237144765251571|240.83985796672414|4.627759313004169|
| stddev| 1.0572941611180042|  0.11272197958641245| 3.239986661206658|4.444396258981285|
|    min|              0.076|                  0.0|             223.2|              0.2|
|    max|             11.122|                 1.39|            254.15|             48.4|
+-------+-------------------+---------------------+------------------+-----------------+

In [14]:
minmax = summary.toPandas().set_index('summary').loc[['min', 'max']].apply(pd.to_numeric)
minmax

         Global_active_power  Global_reactive_power  Voltage  Global_intensity
summary
min                    0.076                   0.00   223.20               0.2
max                   11.122                   1.39   254.15              48.4

3 . Perform min-max normalization on the columns to generate normalized output

In [16]:
for feature in features:
    min = minmax[feature].loc['min']
    max = minmax[feature].loc['max'] 
    (data.withColumn('norm_' + feature, (data[feature]-min)/(max-min))
         .select(feature, 'norm_' + feature)
     .   show())

+-------------------+------------------------+
|Global_active_power|norm_Global_active_power|
+-------------------+------------------------+
|              4.216|      0.3747963136075179|
|               5.36|      0.4783632204883582|
|              5.374|      0.4796306420857549|
|              5.388|      0.4808980636831516|
|              3.666|     0.32500451651039103|
|               3.52|      0.3117870705166136|
|              3.702|      0.3282636160352363|
|                3.7|     0.32808256814083975|
|              3.668|      0.3251855859889428|
|              3.662|     0.32464239913744275|
|              4.448|      0.3957993802483825|
|              5.412|     0.48307081108915195|
|              5.224|      0.4660510571348739|
|              5.268|       0.470034412989771|
|              4.054|      0.3601303549536367|
|              3.384|     0.29947492874728454|
|               3.27|     0.28915444332124873|
|               3.43|     0.30363933249657815|
|              3.266|     0.28879232594830045|
|              3.728|      0.3306174113356331|
+-------------------+------------------------+
only showing top 20 rows

+---------------------+--------------------------+
|Global_reactive_power|norm_Global_reactive_power|
+---------------------+--------------------------+
|                0.418|       0.30071943355121206|
|                0.436|        0.3136690572011385|
|                0.498|        0.3582733783790534|
|                0.502|       0.36115106061208163|
|                0.528|        0.3798561130496238|
|                0.522|       0.37553957897982154|
|                 0.52|       0.37410070570252785|
|                 0.52|       0.37410070570252785|
|                 0.51|        0.3669064679591776|
|                 0.51|        0.3669064679591776|
|                0.498|        0.3582733783790534|
|                 0.47|       0.33812949554525695|
|                0.478|        0.3438848814518332|
|                0.398|       0.28633093662399184|
|                0.422|        0.3035971157842403|
|                0.282|        0.2028777016152581|
|                0.152|        0.1093525144693663|
|                0.156|       0.11223021814291427|
|                  0.0|                       0.0|
|                  0.0|                       0.0|
+---------------------+--------------------------+
only showing top 20 rows

+-------+-------------------+
|Voltage|       norm_Voltage|
+-------+-------------------+
| 234.84| 0.3760903501741722|
| 233.63|0.33699531123788384|
| 233.29|0.32600947612707004|
| 233.74| 0.3405494505061088|
| 235.68| 0.4032307811237885|
| 235.02|0.38190643852862494|
| 235.09| 0.3841678946006665|
| 235.22| 0.3883683754669832|
| 233.99| 0.3486269949326032|
| 233.86|0.34442651406628655|
| 232.86|0.31211633636030917|
| 232.78|0.30953146298212864|
| 232.99| 0.3163168172266258|
| 232.91|0.31373194384844527|
| 235.24|0.38901471706507484|
| 237.14| 0.4504038575007574|
| 236.73|  0.437156566317902|
| 237.06|0.44781898412257687|
| 237.13|0.45008093320880466|
| 235.84| 0.4084005278801496|
+-------+-------------------+
only showing top 20 rows

+----------------+---------------------+
|Global_intensity|norm_Global_intensity|
+----------------+---------------------+
|            18.4|    0.377593353081541|
|            23.0|  0.47302904564315357|
|            23.0|  0.47302904564315357|
|            23.0|  0.47302904564315357|
|            15.8|   0.3236514562393126|
|            15.0|   0.3070539419087137|
|            15.8|   0.3236514562393126|
|            15.8|   0.3236514562393126|
|            15.8|   0.3236514562393126|
|            15.8|   0.3236514562393126|
|            19.6|   0.4024896344703263|
|            23.2|  0.47717843906513396|
|            22.4|   0.4605809049487609|
|            22.6|  0.46473029837074126|
|            17.6|  0.36099585853671634|
|            14.2|   0.2904564275781149|
|            13.8|   0.2821576803057026|
|            14.4|  0.29460580121432106|
|            13.8|   0.2821576803057026|
|            16.4|  0.33609957714793104|
+----------------+---------------------+
only showing top 20 rows

In [17]:
sc.stop()